* {
  font-family: "PT Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  height: 90vh;
  flex-direction: row;
}

.container > * {
  /* border: 1px solid red; */
  margin: 1em;
}

.sidebar {
  flex: 1;
  border-right: 1px solid #eee;
}
#header {
  padding: 1em;
  border-bottom: 1px solid #eee;
}
#header-text {
  font-size: 1.5em;
  text-align: center;
  display: inline;
  vertical-align: middle;
  /* text-shadow: 1px 0px 0px black; */
}

#header-img {
  border-radius: 50%;
  vertical-align: middle;
}

#todo-list {
  list-style-type: none;
  color: #fff;
}

#todo-list li {
  cursor: pointer;
  height: 1em;
  padding: 1em;
  background: #eee;
  margin-top: 0.5em;
  color: #2b2d42;
  border-top-left-radius: 3em;
  border-bottom-left-radius: 3em;
}
#todo-list li.active {
  color: #fff;
  background-color: rgb(82, 139, 120);
}
#list-action {
  list-style-type: none;
}

#list-action li {
  cursor: pointer;
}
#list-action li span {
  height: 24px;
}
#list-action li i,
span {
  vertical-align: middle;
}
#list-action-input {
  width: 100%;
}
#tagName {
  border: none;
  outline: 0;
  width: 80%;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
}
#list-action-input i {
  width: 10%;
  vertical-align: baseline;
}

.todo-area {
  flex: 3;
}

.candy-red {
  background-color: #d90429;
}

.gunmetal {
  background-color: #2b2d42;
}

.rufous {
  background-color: #a3320b;
}

.purple-plum {
  background-color: #9d44b5;
}

.form {
  margin-top: 1em;
}

.form,
.todos {
  width: 50%;
}

.todo-ul {
  padding: 0px;
  overflow: auto;
  height: 80vh;
}

.todo-item {
  list-style-type: none;
  padding: 1em;
  color: #fff;
  border-radius: 3em;
  margin-bottom: 0.5em;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(133, 133, 133, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(133, 133, 133, 1);
  box-shadow: 0px 0px 5px 0px rgba(133, 133, 133, 1);
}

.todo-item.done {
  text-decoration: line-through;
}

.form > input[name="todoText"] {
  width: 90%;
  padding: 1em;
  border: 3px solid #eee;
  border-radius: 3em;
  outline: 0;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(133, 133, 133, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(133, 133, 133, 1);
  box-shadow: 0px 0px 5px 0px rgba(133, 133, 133, 1);
}

.todo-item__delete {
  float: right;
  margin-right: 1em;
}

.ul-visible {
  display: block !important;
  opacity: 1 !important;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    border-right: 0px;
  }
  .sidebar,
  .todo-area {
    flex: 1;
  }

  .sidebar ul {
    display: none;
    opacity: 0;
    transition: all 1s linear;
  }

  #expand-icon {
    display: block;
    text-align: center;
    background-color: #eee;
    margin-top: 0.5em;
    cursor: pointer;
  }
  #expand-icon i {
    cursor: pointer;
    outline: none !important;
  }

  .form,
  .todos {
    width: 100%;
  }
}
